-e git+https://github.com/landonb/pyoiler-argparse.git#egg=pyoiler-argparse
-e git+https://github.com/landonb/pyoiler-inflector.git#egg=pyoiler-inflector
-e git+https://github.com/landonb/pyoiler-logging.git#egg=pyoiler-logging
-e git+https://github.com/landonb/pyoiler-timedelta.git#egg=pyoiler-timedelta

